@media only screen and (min-width: 280px) and (max-width: 599px) {
    .Num{
        font-size: 9em;
        top: -12px;
        right: 0;
    }
    .ct {
       display: none;
    }
    .p2 {
        width: 78%;
        height: 69vh;
        position: absolute;
        right: 40px;
        top: 12vh;

        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    .cblack {
        background-color: black;
        width: 19%;
        height: 104%;
        position: absolute;
        right: 119px;
    }

    .titleh {
        position: absolute;
        font-size: 8vh;
        left: 13px;
        top: 79vh;
        width: 12%;
        font-family: 'Bree Serif', serif;
        color: #212020;
        z-index: 1;
    }
    .p1{ 
        width: 134%;
        height: 51vh;
        position: absolute;
        right: -54px;
        top: 27vh;
    }
    .btcolor {
        width: 30%;
        height: 60vh;
        background: #facd49;
        position: absolute;
        bottom: 0;
        top: 86vh;
        left: 0;
    }
    .cleft {
        background: #facd49;
        width: 50%;
        height: 100vh;
        position: absolute;
        right: 0;
    }
/* section 2 */
    .Plus{
        width: 74%;
        left: -53px;
        position: absolute;
    }
    .m1 {
        width: 56%;
        height: 46vh;
        position: absolute;
        bottom: 15em;
        left: 141px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    .num2{
        z-index: 1;
        font-size: 21vh;
        position: absolute;
        top: 37px;
        left: 0;
    }
    .title {
        position: absolute;
        font-size: 10vh;
        left: 0vh;
        top: 393px;
        color: #040404;
        font-family: 'Bree Serif', serif;
    }
    .tx {
        width: 81%;
        height: 13vh;
        position: absolute;
        top: 75vh;
        left: 9vh;
        color: #020202;
        font-size: 17px;
        font-family: 'Lexend Deca', sans-serif;
     }
     .colorb {
        width: 12%;
        height: 25%;
        background-color: #facd49;
        position: absolute;
        bottom: -83px;
    }

    /* parte 3 */
    .title03 {
        font-size: 7vh;
        font-family: 'Bree Serif', serif;
    }
    .txtpos {
        width: 83%;
        position: absolute;
        top: 93%;
        z-index: 1;
        left: 13px;

    }
    .Ttxt{
        color: #ffffff;
        padding-bottom: 12px;
        font-size: 36px;   
    }
    .txt03{
        color: #020202;
    }
    .color03 {
        background-color: #facd49;
        width: 100%;
        height: 45vh;
        top: 37vh;
        position: absolute;
    }
    .Bcolor03 {
        display: none;
    }
    .texlarge {
        color: #e4e7f5;
        height: auto;
        width: 185px;
        font-family: 'Bree Serif', serif;
        font-size: 4vh;
        left: -9vh;
        position: absolute;
        top: 68px;
        -webkit-transform: rotate(-90deg);
    }
    .m3 {
        position: absolute;
        width: 64%;
        height: 46vh;
        left: 15px;
        top: -36px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    .num3{
        font-size: 9em;
        top: 161px;
        right: 0;
    }
/* parte04 */
.container04{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 302vh;
    }
    .Ctxt04{
        width: 100%;
    }
    .title04{
        font-size: 5vh;
        font-family: 'Bree Serif', serif;
        padding-left: 23px;
        padding-top: 46px;
    }
    .Ct04{
        font-family: 'Lexend Deca', sans-serif;
        width: 88%;
        position: absolute;
        top: 26vh;
        left: 4vh;
        justify-content: center;
    }
    .num4{
        font-size: 10em;
        top: 181vh;
        left: 0;
    }
    .color4{
        width: 12vh;
        height: 12vh;
        background-color: #facd49;
        top: 9vh;
    }
    .containercar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: 173px 0 80px;
   }
   /* parte 05 */
   .container05 {
    width: 100%;
    height: 30vh;
    position: absolute;
    background-color: #facd49;
    
}
.container05{
    width: 100%;
    height: 49vh;
    position: absolute;
    background-color: #0b1216;
    top: 508vh;
}
.C05{
    background-color: #facd49;
    width: 32vh;
    height: 29vh;
    position: absolute;
    left: 9vh;
    top: -5vh;
    color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.Cleft{
    width: 99vh;
    height: 40vh;
    position: absolute;
    right: 0;
}
.txt05{
    font-size: 6vh;
    font-family: 'Bree Serif', serif;
}






















}
