
@media (min-width: 280px) and (max-width: 768px) {
    .Num{
        font-size: 15em;
        top: 30px;
        left: 16px;
    }
    .ct {
        width: 36%;
        height: 12vh;
        background: #facd49;
        position: absolute;
        z-index: 2;
    }
    .p2{ 
    width: 134%;
    height: 51vh;
    position: absolute;
    right: -54px;
    top: 27vh;
    }
    .btcolor {
        width: 40%;
        height: 60vh;
        background: #facd49;
        position: absolute;
        bottom: 0;
        top: 80%;
        left: 22px;
    }
    .cleft {
        background: #facd49;
        width: 35%;
        height: 84vh;
        position: absolute;
        right: 0;
    }
/* section 2 */
    .Plus{
        width: 74%;
        left: -53px;
        position: absolute;
    }
    .m1 {
        width: 56%;
        height: 46vh;
        position: absolute;
        bottom: 15em;
        left: 141px;
    }
    .num2{
        z-index: 1;
        font-size: 21vh;
        position: absolute;
        top: 37px;
        left: 39%;
    }
    .title {
        position: absolute;
        font-size: 10vh;
        left: 0vh;
        top: 393px;
        color: #040404;
        font-family: 'Bree Serif', serif;
    }
    .tx {
        width: 83%;
        height: 13vh;
        position: absolute;
        top: 71vh;
        left: 6vh;
        color: #020202;
        font-size: 19px;
        font-family: 'Lexend Deca', sans-serif;
     }







}