body{
    background-color:#e4e7f5;
}
body, html, figure, p, h1 {
    margin: 0;
    padding: 0;
}
/* body::-webkit-scrollbar{
    display: none;
} */
::selection {
	color: white;
	background: #9c1de7 ;
}
.container{
    width: 100%;
    height: 100vh;
}    
.ct{
    width: 25%;
    height: 12vh;
    background: #facd49;
    position: absolute;
    z-index: 2;
}       
.cleft{
    background: #facd49;
    width: 19%;
    height: 111vh;
    position: absolute;
    right: 0;
}
.p2{
    width: 23%;
    height: 88vh;
    position: absolute;
    right: 268px;
    top: 58px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.cblack{
    background-color: black;
    width: 12%;
    height: 104%;
    position: absolute;
    right: 300px;
}
.titleh{
    position: absolute;
    font-size: 18vh;
    left: 179px;
    top: 17vh;
    width: 12%;
    font-family: 'Bree Serif', serif;
    color: #171616;
}
.index{
    z-index: 12;
}
.Num{
    position: absolute;
    color: #f4f6ffbd;
    font-size: 25em;
    font-family: 'Rowdies', cursive;
}
.btcolor{
    width: 24%;
    height: 60vh;
    background: #facd49;
    position: absolute;
    bottom: 0;
    top: 80%;
    left: 249px;
}
.container02{
    width: 100%;
    height: 100vh;
    top: 100%;
    position: absolute;
}
.m1{
    width: 19%;
    height: 72vh;
    position: absolute;
    left: 26em;
    bottom: 3em;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.title{
    position: absolute;
    font-size: 18vh;
    left: 101vh;
    top: 17vh;
    font-family: 'Bree Serif', serif;
}
.num2{
    left: 117vh;
    top: -109px;
} 
.color2{
    width: 37vh;
    height: 11vh;
    background-color: #facd49;
    position: absolute;
    top: 61vh;
    right: 0;
}
.colorb{
    width: 12%;
    height: 12%;
    background-color: #facd49;
    position: absolute;
    bottom: 0;
}
.tx{
    width: 40%;
    height: 12vh;
    position: absolute;
    top: 44vh;
    left: 114vh;
    font-size: 20px;
    font-family: 'Lexend Deca', sans-serif;
}
.plus{
    position: absolute;
    width: 12%;
    height: 12vh;

}
/* parte 03 */
.container03{
    width: 100%;
    height: 100vh;
    top: 200%;
    position: absolute;
}
.Tcontainer03{
    width: 100%;
    height: auto;
    text-align: center;
}
.title03{
    font-size:14vh ;
    font-family: 'Bree Serif', serif;
}
.color03{
    background-color: #facd49;
    width: 100%;
    height: 45vh;
    top: 33vh;
    position: absolute;
}
.Bcolor03{
    background-color: black;
    height: inherit;
    width: 19vh;
    z-index: 2;
    position: absolute;
    right: 400px;
}
.m3{
    position: absolute;
    width: 23%;
    height: 67vh;
    right: 25px;
    top: -66px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.num3{
    bottom: -81px;
    z-index: 1;
}
.texlarge{
    color: #e4e7f5;
    height: auto;
    width: 185px;
    font-family: 'Bree Serif', serif;
    font-size: 4vh;
    left: -3vh;
    position: absolute;
    top: 128px;
    -webkit-transform: rotate(-90deg);
}
.txtpos{
    width: 43%;
    position: absolute;
    left: 110px;
    top: 42px;
    z-index: 1;
}
.Ttxt{
    color: #FFFF;
    font-family: 'Bree Serif', serif;
    font-size: 4vh;
    padding-bottom: 14px;
}
.txt03{
    color: #FFFF;
    font-family: 'Lexend Deca', sans-serif;
}
/* parte04 */
.container04{
width: 100%;
height: 100vh;
position: absolute;
top: 307vh;
}
.Ctxt04{
    width: 48%;
}
.color4{
    width: 37vh;
    height: 12vh;
    background-color: #facd49;
    position: absolute;
    top: 14vh;
    right: 0;
}
.title04{
    font-size:9vh ;
    font-family: 'Bree Serif', serif;
    padding-right: 55px;
    padding-top: 46px;
    z-index: 1;
}
.Ct04{
    font-family: 'Lexend Deca', sans-serif;
    width: 28%;
    position: absolute;
    top: 40vh;
    right: 10vh;
}
.pos04{
    width: 100%;
    height: 22vh;
    justify-content: flex-end;
    flex-wrap: wrap;
    display: flex;
}
.num4{
    right: 30px;
    z-index: 1;
    top: 46vh
}

.containercar {
	 display: flex;
	 flex-wrap: wrap;
	 width: 100%;
	 margin: 20px 0 80px;
}
 .card {
	 width: 300px;
	 margin: 10px;
	 background-color: white;
	 box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
 .card:hover .card__caption {
	 top: 50%;
	 transform: translateY(-50%);
}
 .card:hover .card__image {
	 transform: translateY(-10px);
}
 .card:hover .card__thumb::after {
	 top: 0;
}
 .card:hover .card__snippet {
	 margin: 20px 0;
}
 .card__thumb {
	 position: relative;
	 max-height: 400px;
	 overflow: hidden;
}
 @media (min-width: 1024px) {
	 .card__thumb {
		 max-height: 500px;
	}
}
 .card__thumb::after {
	 position: absolute;
	 top: 0;
	 display: block;
	 content: '';
	 width: 100%;
	 height: 100%;
	 background: linear-gradient(0deg, rgba(0, 0, 0, .5) 40%, rgba(255, 255, 255, 0) 100%);
	 transition: 0.3s;
}
 @media (min-width: 1024px) {
	 .card__thumb::after {
		 top: calc(100% - 140px);
	}
}
 .card__image {
     transition: 0.5s ease-in-out;
     width: 100%;
    height: 66vh;
}
 .card__caption {
	 position: absolute;
	 top: 50%;
	 z-index: 1;
	 padding: 0 20px;
	 color: white;
	 transform: translateY(-50%);
	 text-align: center;
	 transition: 0.3s;
}
 @media (min-width: 1024px) {
	 .card__caption {
		 top: calc(100% - 110px);
		 transform: unset;
	}
}
 .card__title {
	 display: -webkit-box;
	 max-height: 85px;
	 overflow: hidden;
	 font-family: 'Playfair Display', serif;
	 font-size: 23px;
	 line-height: 28px;
	 text-shadow: 0px 1px 5px black;
	 text-overflow: ellipsis;
	 -webkit-line-clamp: 3;
	 -webkit-box-orient: vertical;
}
 .card__snippet {
	 display: -webkit-box;
	 max-height: 150px;
	 margin: 20px 0;
	 overflow: hidden;
	 font-family: 'Roboto', sans-serif;
	 font-size: 16px;
	 line-height: 20px;
	 text-overflow: ellipsis;
	 transition: 0.5s ease-in-out;
	 -webkit-line-clamp: 5;
	 -webkit-box-orient: vertical;
}
 @media (min-width: 1024px) {
	 .card__snippet {
		 margin: 60px 0;
	}
}
 .card__button {
	 display: inline-block;
	 padding: 10px 20px;
	 color: white;
	 border: 1px solid white;
	 font-family: 'Roboto', sans-serif;
	 font-size: 12px;
	 text-transform: uppercase;
	 text-decoration: none;
	 transition: 0.3s;
}
 .card__button:hover {
	 color: black;
	 background-color: white;
}
 .disclaimer {
	 position: fixed;
	 bottom: 0;
	 left: 50%;
	 z-index: 2;
	 box-sizing: border-box;
	 width: 100%;
	 padding: 20px 10px;
	 background-color: white;
	 transform: translateX(-50%);
	 font-family: 'Roboto', sans-serif;
	 font-size: 14px;
	 text-align: center;
}
 .disclaimer__link {
	 color: #755d87;
	 text-decoration: none;
}
.container05{
    width: 100%;
    height: 30vh;
    position: absolute;
    background-color: #facd49;
    top: 404vh;
    }